<div style = "display:inline-flex; justify-content: center; width:100%;">
  <h1 style = "font-size: 60px;;">Bull </h1>
  <img src = "assets/logo.png" height="150" width="150">
  <h1 style = "font-size: 60px"> Cow</h1>
</div>

<div style="text-align: center; padding-bottom: 20px; padding-top: 50px;">

    <input  (keyup.enter)="this.guessWord()" pInputText placeholder="Enter Guess..." #guessInput>
    <button pButton (click)="this.guessWord()" >Submit</button>

  <h4>SCORE: {{this.score}}</h4>

</div>


  <h2>Guess History</h2>
<p-accordion>

</p-accordion>
<div class= "cards" style="">
  <p-card class = "card" *ngFor="let guess of this.guessHistory" class = "history_entry">
    <div class = "p-card-title">
      {{guess.guess}}
    </div>
      <div class="p-card-body">
        <h2>
            <span style="color: green;"> Bulls: {{guess.numOfBulls}}</span><br/>
            <span style="color: red;"> Cows: {{guess.numOfCows}}</span>
        </h2>
      </div>
  </p-card>
</div>
