.history_entry {
  padding: 0!important;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;

}

.card {
  max-width: 50px;
}

.p-card-title {
  text-align: center;
}

.p-card-content {
  text-align: center;
}

.p-card-body {
  text-align: center;
  padding: 0;
}
